body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(bg);
    background-size: cover;
    background-attachment: fixed;
}
.head{
    background-color: rgb(237, 255, 44);
    margin-left: 300px;
    margin-right: 300px;
}
h3{
    color: whitesmoke
}
.img{
    padding: 5px;
}
.d{
    margin-left: 1300px;
    color: bisque;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}
footer{
    background-color: rgb(151, 183, 7);
    padding: 5px;
    
}
.m{
    background-color: rgb(235, 251, 10);
    margin-left: 300px;
    margin-right: 300PX;
}
.l{
    background-color: gold;
    margin-left: 300px;
    margin-right: 300px;
}
.li{
    color: yellow;
}